@using TripWebApplication.Models.Sınıflar
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="header-banner">
    <div class="wrap">
        <div class="banner">
            <div class="indent">
                <h2 class="indent-left margin-bot" style="margin-left: 80px">Yolculuğunuzu Planlayın...</h2>
                <div class="banner-left">
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/TripWeb/images/glass.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Restorantlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/TripWeb/images/flight.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Uçuşlar</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/TripWeb/images/group.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Yapılacak Şeyler</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/TripWeb/images/key.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p>Araba Kiralama</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom_right_images">
                    <div class="slider" style="width: 650px; height: 400px;">
                        <ul class="rslides" id="slider1">

                            @foreach (var x in Model)
                            {
                                <li><img src="@x.BlogImage" alt=""></li>
                            }
                            @*   <li><img src="~/TripWeb/images/img2.jpg" alt=""></li>
                                <li><img src="~/TripWeb/images/img3.jpg" alt=""></li>
                                <li><img src="~/TripWeb/images/img4.jpg" alt=""></li> *@
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class"content"="">
    <div class="wrap">
        <div class="wrapper">

            <div class="con-top">
                <h3>Tatil Seyahat Bloğuma Hoşgeldiniz!</h3>
                <p>
                    Bir yere gitmeden önce mutlaka ama mutlaka bu siteye göz atın derim. Türkiye’deki en geniş çaplı seyahat sitelerinden.
                    Ayrıntılı olarak çoğu bilgiye ulaşabilirsiniz.
                    <br />
                    Hangi ülkeye nasıl gidilir, ne yenir, oraya kadar gitmişken başka nereye gidilir gibi daha onlarca sorunuzun cevabını tek tek bulabilirsiniz!
                </p>
            </div>


            @Html.Action("Partial1","Default")

            <!---728x90--->
            <div class="grids">
                <div class="box1">

                    @Html.Action("Partial3","Default")

                    @Html.Action("Partial4","Default")

                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </div>
</div>

