

<div class="form">
    <form method="post">
        <input type="text" placeholder="Ad-Soyad" name="AdSoyad" required />
        <input type="text" placeholder="Mail adresi" name="Mail" required />
        <input type="text" placeholder="Konu" name="Konu" required />
        <div class="form1">
            <div>
                <textarea placeholder="Mesaj" name="Mesaj"></textarea>
            </div>
        </div>
        <div>
            <button class="btn btn-danger">Gönder</button>
        </div>
    </form>
</div>


